Работа заключается в создании чат мессенджера,
в котором пользователь может отправлять сообщения в общий чат.
В приложении есть страницы:
1. Главная (с чатом)
2. Авторизации
3. Регистрации
4. Настроек.
Работа разбита на отдельные пользовательские модули:
1. main - со всеми функциями
2. user - с классом User.
3. forms - со всеми формами.
Модули:
Werkzeug                  2.2.2
WTForms                   3.0.1
SQLAlchemy                2.0.4
SQLAlchemy-serializer     1.4.1
Flask                     2.2.2
Flask-Login               0.6.2
Flask-RESTful             0.3.9
Flask-WTF                 1.1.1
future                    0.18.2
Jinja2                    3.1.2